---
---
// External
@import 'external/reset';
@import 'external/syntax';

// Base
@import 'base/variables';
@import 'base/global';
@import 'base/utility';

// Posts
@import 'layouts/posts';
@import 'layouts/index';

// Partials
@import 'includes/header';
@import 'includes/footer';


.main_portfolio {
  width: 100%;
  margin-right:0.5%;
  margin-left:0.5%;
  margin-bottom: 0;
  display: inline-block;
  p a:hover {
    @extend %link-hover;

  }
  a:hover {
    border-bottom: solid 1px;
  }
};




.contact {
  text-align: center;
  border-style: solid;
  border-radius: 0px;
  border-color: darkgray;
  border-width: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #bfc3c3;
  box-shadow: 0px 15px 10px -15px #111;
}

#form_name {
  text-align: left;
  border-style: solid;
  border-radius: 0px;
  border-color: darkgray;
  min-width: 33%;
  border-width: 1px;
  padding: 10px;
};

#form_email {
  text-align: left;
  border-style: solid;
  border-radius: 0px;
  border-color: darkgray;
  min-width: 33%;
  border-width: 1px;
  padding: 10px;
};

#form_message {
  text-align: left;
  border-style: solid;
  border-radius: 0px;
  border-color: darkgray;
  min-height: 140px;
  min-width: 66%;
  border-width: 1px;
  padding: 10px;
};

#form_button {
  text-align: center;
  border-style: solid;
  border-radius: 0px;
  border-color: darkgray;
  min-width: 66%;
  border-width: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition-duration: 0.3s;
  box-shadow: 0px 15px 10px -15px #111;
  border-radius: 9px;
};

#form_button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}